/* baked-ham-and-cheese-party-sandwiches.html stylesheet */

/* general */
.header {
    text-align: center;
    color: white;
    background-color: brown;
    border: 2px black;
}

img {
    text-align: center;
    border: 1px blue;
}

.des, .ing, .eps {
    color: darkred;
    text-align: center;
    font-size: 35px;
}

p {
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
}

.sp1 {
    text-align: center;
}


/* text, img and horizontal lines wrapping styles */
.wrapping-1, .wrapping-ing {
    display: flex;
}

.wrapping-ing {
    text-indent: 130px;
}

.wrapping-des {
    text-align: left;
}

.des {
    text-align: left;
    margin-left: 100px;
}

.ing {
    padding-right: 150px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 150px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
}

.oll, .ull {
    text-align: center;
    list-style-position: inside;
}

.lst1 li {
    margin-left: 150px;
    padding-right: 150px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.lst1 img {
    padding-left: 200px;
}

.lst3 img, .lst5 img {
    margin-left: 150px;
    padding-right: 150px;
}

.lst4 img, .lst6 img {
    margin-right: 150px;
    padding-left: 173.5px;
}

.lst3 li {
    padding-top: 100px;
}

.ordered_list li {
    text-align: center;
}

.ull {
    padding-left: 15px;
    padding-right: 200px;
}

.zero {
    margin: 0;
    width: 1px;
    border: 0.75px solid white;
    background-color: black;
    color: black;
}

.step {
    display: flex;
    text-align: center;
}

.step hr {
    border: 0.75px solid white;
    width: 1px;
    margin: 0;
    background-color: black;
    color: black;
}

.lst4 hr {
    width: 2px;
}

li .lst1, .step.lst1 {
    text-align: center;
    text-indent: 140px;
}

.short {
    width: 500px;
    text-align: center;
}

.ordered_list, .unordered_list {
    text-indent: 8px;
    line-height: 1.5;
    display: inline-block;
    text-align: left;
}


/* Back button styles */

.end_button {
    align-items: right;
    font-size: 20px;
    background-color: black;
    color: white;
}

.end_button:hover, .end a:hover {
    background-color: brown;
}

.end {
    text-align: right;
}

/* link styling */

a {
    text-decoration: none;
    color: white;
}

/* Hover colors and styling */

#wraping:hover, .ing:hover, .step:hover, .ordered_list li:hover, .step hr:hover  {
    cursor: pointer;
    background-color: brown;
    color: white;
}
