/* stylesheet for index.html */

.header {
    text-align: center;
    color: white;
    background-color: brown;
    border: 2px black;
}

.list {
    text-align: center;
    list-style: none;
    font-size: 30px;
}

a {
    text-decoration: none;
    font-size: 20px;
}